.text-image {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url('../../assets/HeaderImage.jpg');
    background-size: contain;
}

.color_background_card {
    background-color: #2b313d;
}

.text-color-bg {
    color: #2b313d;
}